.diner-card{
  // background-color: cyan;
  width: 600px;
  min-height: 400px;

  h2 {
    color: #87be9b;
    border-bottom: 1px solid red;
  }

  .logo-container{
    min-width: 300px;
    min-height: 300px;
    background-image: url('~assets/diner-logo-coq.png');
    background-size: contain;
  }
}
